.header {
    margin-top: 10px;
    grid-area: h;
    background-color: mediumseagreen;
    border-radius: 5px;
  }
  
  .header img {
    width: 50px;
  }

.loginBlock {
  float: right;
}

.loginBlock a {
  color:white;
}